<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--slider-->
<script src="js/modernizr.js"></script>
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(function () {
        SyntaxHighlighter.all();
    });
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js">
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js">
</script>
</head>


        <div class="wrap">
            <div class="heading3">
                <h3>Catering 4YOU</h3>
            </div>
            <div class="total">
                <div class="banner">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><img src="images/banner2.jpg" alt="" /></li>
                            <li><img src="images/banner1.jpg" alt="" /></li>
                            <li><img src="images/banner3.jpg" alt="" /></li>
                            <li><img src="images/banner4.jpg" alt="" /></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="heading3">
                    <h3>Piatti</h3>
                </div>
                <div class="section group">
                    <div class="col_1_of_4 span_1_of_4">
                        <img src="images/pic.jpg" alt="" />
                        <div class="desc">
                            <div class="left-text">
                                <h5>
                                    <a href="#">Spaghetti</a>
                                </h5>
                            </div>
                            <span class="price"><small>$</small>1`870</span>
                        </div>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <img src="images/pic1.jpg" alt="" />
                        <div class="desc">
                            <div class="left-text">
                                <h5>
                                    <a href="#">Insalate</a>
                                </h5>
                            </div>
                            <span class="price"><small>$</small>1`970</span>
                        </div>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <img src="images/pic2.jpg" alt="" />
                        <div class="desc">
                            <div class="left-text">
                                <h5>
                                    <a href="#">Caprese</a>
                                </h5>
                            </div>
                            <span class="price"><small>$</small>1`670</span>
                        </div>
                    </div>
                    <div class="col_1_of_4 span_1_of_4 active-grid">
                        <img src="images/pic3.jpg" alt="" />
                        <div class="last-desc">
                            <div class="left-text">
                                <h6>
                                    <a href="#">Frappè</a>
                                </h6>
                            </div>
                            <span class="price-last"><small>$</small>1`770</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="content-middle">
                    <div class="lsidebar span_1_of_3">
                        <img src="images/pic4.jpg" alt="" />
                    </div>
                    <div class="cont span_2_of_3">
                        <div class="test-meta"><img src="images/quotes.png" alt="" /><span class="user">4 YOU...</span><span class="info">Cliente</span></div>
                        <p class="paragraph"><a href="#">L’idea nasce dall’incontro tra la professionalità, creatività e entusiasmo di una chef, la capacità imprenditoriale di Fornitto e la volontà di offrire un servizio “genuino e responsabile” ai clienti che vivono i nostri luoghi.</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="bottom-grids">
                    <div class="bottom-grid1">
                        <h3>Area riservata</h3>
                        <h1>LOGIN</h1><br>
                        <form>
                            Username&nbsp;<input name='username' required><br>
                            Password&nbsp;<input type='password' name='password' required><br><br>
                            <input type='submit' class='button'>
                            <input onclick="Showform()" type="button" class='button' value="Registrati">
                        </form>
                    </div>
                    <div class="bottom-grid2 bottom-mid">
                        <h3>I nostri ristoranti</h3>
                        <span>La qualità prima di tutto</span>
                        <p>4YOU offre welcome coffee, light lunch, tea break e aperitivi come soluzione ideale e momento conviviale per tutti i clienti meeting di San Vittore 49 e non solo.</p>
                        <div class="gallery">
                            <ul>
                                <li><a href="images/t-pic5.jpg"><img src="images/pic5.jpg" alt=""></a></li>
                                <li><a href="images/t-pic6.jpg"><img src="images/pic6.jpg" alt=""></a></li>
                                <li><a href="images/t-pic7.jpg"><img src="images/pic7.jpg" alt=""></a></li>
                                <li><a href="images/t-pic8.jpg"><img src="images/pic8.jpg" alt=""></a></li>
                                <li><a href="images/t-pic9.jpg"><img src="images/pic9.jpg" alt=""></a></li>
                                <li><a href="images/t-pic10.jpg"><img src="images/pic10.jpg" alt=""></a></li>
                                <li><a href="images/t-pic11.jpg"><img src="images/pic11.jpg" alt=""></a></li>
                                <li><a href="images/t-pic12.jpg"><img src="images/pic12.jpg" alt=""></a></li>
                                <li><a href="images/t-pic13.jpg"><img src="images/pic13.jpg" alt=""></a></li>
                                <li><a href="images/t-pic14.jpg"><img src="images/pic14.jpg" alt=""></a></li>
                                <li><a href="images/t-pic15.jpg"><img src="images/pic15.jpg" alt=""></a></li>
                                <li><a href="images/t-pic16.jpg"><img src="images/pic16.jpg" alt=""></a></li>

                            </ul><br>
                            <div class="clear"> </div>
                            <a href='#' class='button'>Read More</a>
                        </div>
                        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

                        <script type="text/javascript" src="js/jquery.lightbox.js"></script>
                        <script type="text/javascript">
								    $(function() {
								        $('.gallery a').lightBox();
								    });
                        </script>
                    </div>
                    <div class="bottom-grid1 bottom-last">
                        <h3>Ultime INFO</h3>
                        <p>Uno staff competente potrà consigliarvi in maniera globale sulla scelta di ogni dettaglio, interpretando i gusti e dando forma concreta alle vostre idee. Che sia una delle nostre Location fra le varie Ville e dimore storiche Veneziane a nostra disposizione o uno spazio privato di proprietà del cliente, per noi non c'è differenza, possiamo crearVi qualunque tipo di allestimento, ma soprattutto per merito delle nostre proposte culinarie, dove i piatti e le materie prime sono di assoluta eccellenza renderanno assicurata la riuscita di ogni evento.</p>
                        <br>
                        <a href='#' class='button'>Read More</a>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
